/* CSS Document */
 body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, font {
	padding:0;
	margin:0;
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
	color:#464545;
	letter-spacing:0.2px;/*字间距*/
}
/*
input{
	border:none;}
body {
	background:#fff;
	font-family:"微软雅黑"
	
	 
}

.clear {
	clear:both;
 
}

body {
	font:12px/1.5 Arial, sans-serif;
}
a:link {
	color: #262626;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #262626;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a.red{
	color:red}
li {
	list-style:none;
}
ul {
	margin:0;
	padding:0;
}
.fl{
	float:left;}
.fr{
	float:right;}	
a.yellow {
	color:#CA9910
}
a.blue {
	color:#004BC8
}
.pd10{
	padding-top:10px;}
 
.mt15{
	margin-top:14px;
	_margin-top:5px;}
	
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block
} */




/*****index  zishiyin******/

 @media only screen and (max-width: 480px) {

	.index_l {
    width: 100%;
    padding-top: 15px;
	} 
	.warp{
		width:99%;
	}
	.index_l img{
		width:100%;
		height:auto;
	}
	.index_l dl{
		height:auto;
		margin:15px 0
	} 
	.index_l dl p{
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 3;
	} 
	.index_l li {
		width:100%;
	}
	.index_r {
    width: 100%;
    padding-top: 15px;
	}
	.about_l {
    width: 100%;
    margin-top: 15px;
	}
	
	.about_2 {
		width: 100%;
		padding: 15px 0;
		float: right;
	}
	
	footer li {
		width: 50%;
		float: left;
		line-height: 25px;
	}
	
	footer ul li:nth-child(5) {
		float: right;
		width: 50%;
		text-align: center;
	}
	.pro li {
		width:50%;
		height:180px;
		margin:15px 0%; 
		float:left; 
		/* border:#eee 1px solid;  */
		cursor:pointer;
		transition:800ms ease all;
		outline:none;
	}
	.c-banner img{
		width: 100%;
		height:200px;
	}
	
	
 }
